body {
    font-family: Arial,  sans-serif; /* Семейство шрифтов */
    font-size: 11px; /* Размер основного шрифта в <p></p>  */
    background-color: #f0f0f0a1; /* Цвет фона веб-страницы */
    color: #ff995e; /* Цвет основного текста */ 
}
h1:hover {
    animation: color-change 3s infinite;
    color: rgb(#5988FF); /* Цвет заголовка */
    font-size: 24px; /* Размер шрифта в пунктах */
    font-family: Georgia, serif; /* Семейство шрифтов */
}
h2 {
    color:rgb(#FD98FB);
    font-size: 24px;
    font-family: Georgia, serif;
}
@keyframes color-change {
    0% {
      color: blue;
    }
  
    50% {
      color: red;
    }
  
    100% {
      color: blue;
    }
}